---
import MoonIcon from '../../icons/Moon.astro';
import SunIcon from '../../icons/Sun.astro';
---

<script>
  import { getLangFromUrl } from '../../i18n/utils';

  const themeButton = document.querySelector('[data-theme]');
  const lang = getLangFromUrl(new URL(window.location.href));
  const themeButtonLabel = {
    en: {
      light: 'Ligh Theme',
      dark: 'Dark Theme',
    },
    es: {
      light: 'Tema Claro',
      dark: 'Tema Oscuro',
    },
  };

  if (themeButton) {
    themeButton.setAttribute('title', themeButtonLabel[lang].light);
    themeButton.setAttribute('aria-label', themeButtonLabel[lang].light);
  }

  themeButton &&
    themeButton.addEventListener('click', () => {
      document.documentElement.classList.toggle('dark');
      if (document.documentElement.classList.contains('dark')) {
        themeButton.setAttribute('title', themeButtonLabel[lang].light);
        themeButton.setAttribute('aria-label', themeButtonLabel[lang].light);
      } else {
        themeButton.setAttribute('title', themeButtonLabel[lang].dark);
        themeButton.setAttribute('aria-label', themeButtonLabel[lang].dark);
      }
    });
</script>

<div class='hidden sm:block h-8 w-8'>
  <button
    data-theme
    type='button'
    class='w-full h-full text-black dark:text-white'
  >
    <MoonIcon class='moon-icon text-gray-400' />
    <SunIcon class='sun-icon text-yellow-500' />
  </button>
</div>

<style scoped>
  .moon-icon {
    display: block;
  }
  .sun-icon {
    display: none;
  }

  html.dark .moon-icon {
    display: none;
  }
  html.dark .sun-icon {
    display: block;
  }
</style>
