
<a
  {...Astro.props}
  target='_blank'
  rel='noopener noreferrer'
  class='bg-white/5 rounded-full border border-[rgba(0,0,0,.5)] dark:border-white/10 
  flex justify-center 
  items-center gap-x-2 py-2 px-4 transition-all 
  hover:scale-110 hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black'
>
  <slot />
</a>
