---
import CalendarIcon from '../../icons/Calendar.astro';

interface Props {
  title: string;
  subtitle: string;
  description: string;
}

const { title, subtitle, description } = Astro.props;
---

<li class='mb-10 ms-9'>
  <span class='absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900'>
    <CalendarIcon class='w-2.5 h-2.5 text-blue-600 dark:text-blue-300' />
  </span>

  <h3 class='mb-1 text-lg font-semibold dark:text-white'>
    {title}
  </h3>

  <time class='block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'>
    {subtitle}
  </time>

  <p class='text-base font-normal text-gray-500 dark:text-gray-400'>
    { description }
  </p>
</li>
