---
import Experience from './Experience.astro';

import { getLangFromUrl, useTranslation } from '../../i18n/utils';
import type { IExperience } from '../../interfaces';

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);
const experiences = t<IExperience[]>('experience', 'experiences');
---

<div
  class='w-full max-w-[700px] mx-auto p-4 bg-white/5 border border-gray-200 dark:border-white/5 rounded-lg shadow'
>
  <div class='flow-root'>
    <ul role='list' class='divide-y divide-gray-200 dark:divide-gray-700'>
      {
        experiences.reverse().map((experience) => (
          <li class='py-3 sm:py-4'>
            <Experience {...experience} />
          </li>
        ))
      }
    </ul>
  </div>
</div>
