---
import { getLangFromUrl, useTranslation } from '../../i18n/utils';

import Layout from '../../layouts/Layout.astro';

import TypeWriter from '../../components/typewriter/TypeWriter.astro';
import SocialPillGrid from '../../components/socialPill/SocialPillGrid.astro';
import ExperienceGrid from '../../components/experience/ExperienceGrid.astro';
import Education from '../../components/education/Education.astro';
import SkillGrid from '../../components/skills/SkillsGrid.astro';
import Contact from '../../components/contact/Contact.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);
---

<script>
  document.documentElement.classList.add('dark');
</script>

<Layout
  title='Portafolio Web - Luis Rodríguez'
  description='As a software developer with over two years of experience, I have cultivated a versatile skill set that allows me to tackle diverse challenges effectively. My proficiency extends across various technologies, including React.js, Vue.js, Tailwind CSS, TypeScript, Java with SpringBoot, and C#. This breadth of expertise reflects my adaptability and dedication to staying abreast of industry trends.'
>
  <main class='px-6 animate-fade-in-down'>
    <!-- ====================== Home ====================== -->
    <section id='home' class='max-w-[750px] w-full mx-auto py-24 sm:py-40'>
      <h1 class='text-4xl font-bold mb-2 capitalize'>
        { t('home', 'title') }
      </h1>

      <TypeWriter text={t('home', 'aboutMe')} />

      <p class='text-base leading-7 opacity-90 mb-7'>
        2 años de experiencia como <span
          class='text-blue-700 dark:text-blue-500 font-semibold'
          >Desarrollador Frontend</span
        >, construyendo y manteniendo aplicaciones web interactivas con código
        de alto valor. Más de 1 año de experiencia como <span
          class='text-blue-700 dark:text-blue-500 font-semibold'
          >Desarrollador Backend</span
        >
        con Java, Spring Boot y SQL construyendo API. Actitud positiva y mentalidad
        productiva para mejorar cada día y enfrentar nuevos retos.
      </p>

      <SocialPillGrid />
    </section>

    <!-- ====================== Experience ====================== -->
    <section
      id='experience'
      class='max-w-[750px] w-full mx-auto py-14 sm:py-20'
    >
      <h2
        class='text-3xl font-bold text-black/85 dark:text-inherit mb-16 capitalize'
      >
        { t('experience', 'title') }
      </h2>
      <ExperienceGrid />
    </section>

    <!-- ====================== Education ====================== -->
    <section id='education' class='max-w-[750px] w-full mx-auto py-14 sm:py-20'>
      <h2
        class='text-3xl font-bold text-black/85 dark:text-inherit mb-16 capitalize'
      >
        { t('education', 'title') }
      </h2>
      <div class='flex flex-col sm:flex-row gap-x-10'>
        <div class='flex-1 pl-6 sm:mb-20'>
          <Education />
        </div>
        <div class='flex-1'>
          <h2 class='text-3xl mb-7'>{ t('education', 'subtitle') }</h2>
          <SkillGrid />
        </div>
      </div>
    </section>

    <!-- ====================== Contact ====================== -->
    <section id='contact' class='max-w-[750px] w-full mx-auto py-14 sm:py-20'>
      <h2
        class='text-3xl font-bold text-black/85 dark:text-inherit mb-16 capitalize'
      >
        { t('contact', 'title') }
      </h2>
      <Contact />
    </section>
  </main>
</Layout>
